.header {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('./background.png');
    background-size: cover; 
    background-position: center;  
    height: 100vh; 
    width: 100vw;
    display: flex; 
    justify-content: center; 
    align-items: center;
  }
  
  .main-container {
    flex-grow: 1; /* Allow the container to take remaining space */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 20px; /* Add padding for better readability */
    margin-top: 10px;
    background-color: transparent; /* Optional: background for contrast */
    display: flex;
    flex-direction: column; /* Stack messages vertically */
    justify-content: flex-start; /* Align items to the top */
  }

  .welcome-message {
    font-weight: bold; /* Make text bold */
    text-align: center; /* Center the text */
    font-size: 40px; 
    margin: 0; /* Add some margin for spacing */
  }

  .message {
    text-align: center; /* Center the text */
    margin: 20px 0; /* Add some margin for spacing */
    font-size: 20px; 
  }