.footer{
    padding-top: 70px;
    padding-bottom: 30px;
}

.logo img{
    width: 50%;
    margin-bottom: 1rem;
}

.footer .logo p{
    color: var(--text-color);
}

.footer_link-title{
    color: var(--heading-color);
    margin-bottom: 1rem;
}

.footer_quick-links li a{
    text-decoration: none;
    font-size: 1.1rem;
    border-bottom: 1px solid;
    margin-left: 1rem;
}

.footer_quick-links h6 span i{
    color: var(--secondary-color);
    font-size: 1.1rem;
}

.footer_quick-links{
    color: var(--secondary-color);
    border-left: 5px solid;
    border-bottom: 3px solid;
}


